<%= form_with(model: student_level, local: true) do |form| %>
  <% if student_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_level.errors.count, "error") %> prohibited this student_level from being saved:</h2>

      <ul>
      <% student_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_learnable %>
    <%= form.number_field :id_learnable %>
  </div>

  <div class="field">
    <%= form.label :id_student %>
    <%= form.number_field :id_student %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field :level %>
  </div>

  <div class="field">
    <%= form.label :points %>
    <%= form.number_field :points %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
