<p id="notice"><%= notice %></p>

<h1>Student Levels</h1>

<table>
  <thead>
    <tr>
      <th>Id learnable</th>
      <th>Id student</th>
      <th>Level</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_levels.each do |student_level| %>
      <tr>
        <td><%= student_level.id_learnable %></td>
        <td><%= student_level.id_student %></td>
        <td><%= student_level.level %></td>
        <td><%= student_level.points %></td>
        <td><%= link_to 'Show', student_level %></td>
        <td><%= link_to 'Edit', edit_student_level_path(student_level) %></td>
        <td><%= link_to 'Destroy', student_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Level', new_student_level_path %>
