<p id="notice"><%= notice %></p>

<p>
  <strong>Learnable:</strong>
  <%= @student_level.learnable %>
</p>

<p>
  <strong>Student:</strong>
  <%= @student_level.student %>
</p>

<p>
  <strong>Level:</strong>
  <%= @student_level.level %>
</p>

<p>
  <strong>Points:</strong>
  <%= @student_level.points %>
</p>

<%= link_to 'Edit', edit_student_level_path(@student_level) %> |
<%= link_to 'Back', student_levels_path %>
