<%= form_with(model: materials_rating, local: true) do |form| %>
  <% if materials_rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(materials_rating.errors.count, "error") %> prohibited this materials_rating from being saved:</h2>

      <ul>
      <% materials_rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id %>
  </div>

  <div class="field">
    <%= form.label :material_id %>
    <%= form.text_field :material_id %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
