<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @materials_rating.student %>
</p>

<p>
  <strong>Material:</strong>
  <%= @materials_rating.material %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @materials_rating.rating %>
</p>

<%= link_to 'Edit', edit_materials_rating_path(@materials_rating) %> |
<%= link_to 'Back', materials_ratings_path %>
