<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @topic.course %>
</p>

<p>
  <strong>Learnable:</strong>
  <%= @topic.learnable %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
