<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @teachers_title.teacher.registrant.user.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @teachers_title.title %>
</p>

<%= link_to 'Edit', edit_teachers_title_path(@teachers_title) %> |
<%= link_to 'Back', teachers_titles_path %>
