<p id="notice"><%= notice %></p>

<p>
  <strong>Id teacher:</strong>
  <%= @teachers_title.id_teacher %>
</p>

<p>
  <strong>Title:</strong>
  <%= @teachers_title.title %>
</p>

<%= link_to 'Edit', edit_teachers_title_path(@teachers_title) %> |
<%= link_to 'Back', teachers_titles_path %>
