<p id="notice"><%= notice %></p>

<strong>User:</strong>
<table>
  <tr>
    <td> NAMR </td>
    <td> PHONE </td>
    <td> CPF </td>
    <td> E-MAIL </td>
  </tr>

  <tr>
		<td><%= @registrant.user.name %></td>
		<td><%= @registrant.user.phone %></td>
		<td><%= @registrant.user.cpf %></td>
		<td><%= @registrant.user.email %></td>
	</tr>
</table>


<%= link_to 'Edit', edit_registrant_path(@registrant) %> |
<%= link_to 'Back', registrants_path %>
