<p id="notice"><%= notice %></p>

<h1>Learnables</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Max level</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @learnables.each do |learnable| %>
      <tr>
        <td><%= learnable.name %></td>
        <td><%= learnable.max_level %></td>
        <td><%= link_to 'Show', learnable %></td>
        <td><%= link_to 'Edit', edit_learnable_path(learnable) %></td>
        <td><%= link_to 'Destroy', learnable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Learnable', new_learnable_path %>
