<p id="notice"><%= notice %></p>

<p>
  <strong>Coordinator:</strong>
  <%= @learnable.coordinator %>
</p>

<p>
  <strong>Name:</strong>
  <%= @learnable.name %>
</p>

<p>
  <strong>Max level:</strong>
  <%= @learnable.max_level %>
</p>

<%= link_to 'Edit', edit_learnable_path(@learnable) %> |
<%= link_to 'Back', learnables_path %>
