<%= form_with(model: subtopics_question, local: true) do |form| %>
  <% if subtopics_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subtopics_question.errors.count, "error") %> prohibited this subtopics_question from being saved:</h2>

      <ul>
      <% subtopics_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question_id %>
    <%= form.text_field :question_id %>
  </div>

  <div class="field">
    <%= form.label :subtopic_id %>
    <%= form.text_field :subtopic_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
