<p id="notice"><%= notice %></p>

<h1>Subtopics Questions</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Subtopic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subtopics_questions.each do |subtopics_question| %>
      <tr>
        <td><%= subtopics_question.question %></td>
        <td><%= subtopics_question.subtopic %></td>
        <td><%= link_to 'Show', subtopics_question %></td>
        <td><%= link_to 'Edit', edit_subtopics_question_path(subtopics_question) %></td>
        <td><%= link_to 'Destroy', subtopics_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subtopics Question', new_subtopics_question_path %>
