<p id="notice"><%= notice %></p>

<h1>Mongo Questions</h1>

<table>
  <thead>
    <tr>
      <th>Difficulty</th>
      <th>Points</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mongo_questions.each do |mongo_question| %>
      <tr>
        <td><%= mongo_question.difficulty %></td>
        <td><%= mongo_question.points %></td>
        <td><%= mongo_question.text %></td>
        <td><%= link_to 'Show', mongo_question %></td>
        <td><%= link_to 'Edit', edit_mongo_question_path(mongo_question) %></td>
        <td><%= link_to 'Destroy', mongo_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mongo Question', new_mongo_question_path %>
