<p id="notice"><%= notice %></p>

<h1>Right Answers</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Solutions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @right_answers.each do |right_answer| %>
      <tr>
        <td><%= right_answer.text %></td>
        <td><%= right_answer.solutions %></td>
        <td><%= link_to 'Show', right_answer %></td>
        <td><%= link_to 'Edit', edit_right_answer_path(right_answer) %></td>
        <td><%= link_to 'Destroy', right_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Right Answer', new_right_answer_path %>
