<%= form_with(model: teacher, local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :registrant do |registrant_form| %>
    <%= registrant_form.fields_for :user do |user_form| %>
      <%= user_form.label :name %>
      <%= user_form.text_field :name %>
      <%= user_form.label :password %>
      <%= user_form.text_field :password %>
      <%= user_form.label :phone %>
      <%= user_form.text_field :phone %>
      <%= user_form.label :cpf %>
      <%= user_form.text_field :cpf %>
      <%= user_form.label :email %>
      <%= user_form.text_field :email %>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label :office %>
    <%= form.text_field :office %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
