<p id="notice"><%= notice %></p>

<p>
  <strong>Coordinator:</strong>
  <%= @teacher.coordinator %>
</p>

<p>
  <strong>Office:</strong>
  <%= @teacher.office %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
