<%= form_with(model: questions_study_session, local: true) do |form| %>
  <% if questions_study_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(questions_study_session.errors.count, "error") %> prohibited this questions_study_session from being saved:</h2>

      <ul>
      <% questions_study_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question_id %>
    <%= form.text_field :question_id %>
  </div>

  <div class="field">
    <%= form.label :study_session_id %>
    <%= form.text_field :study_session_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
