<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @questions_study_session.question %>
</p>

<p>
  <strong>Study session:</strong>
  <%= @questions_study_session.study_session %>
</p>

<p>
  <strong>Status:</strong>
  <%= @questions_study_session.status %>
</p>

<%= link_to 'Edit', edit_questions_study_session_path(@questions_study_session) %> |
<%= link_to 'Back', questions_study_sessions_path %>
