<%= form_with(model: courses_teacher, local: true) do |form| %>
  <% if courses_teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(courses_teacher.errors.count, "error") %> prohibited this courses_teacher from being saved:</h2>

      <ul>
      <% courses_teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_course %>
    <%= form.number_field :id_course %>
  </div>

  <div class="field">
    <%= form.label :id_teacher %>
    <%= form.number_field :id_teacher %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
