<p id="notice"><%= notice %></p>

<p>
  <strong>Id course:</strong>
  <%= @courses_teacher.id_course %>
</p>

<p>
  <strong>Id teacher:</strong>
  <%= @courses_teacher.id_teacher %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @courses_teacher.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @courses_teacher.end_date %>
</p>

<%= link_to 'Edit', edit_courses_teacher_path(@courses_teacher) %> |
<%= link_to 'Back', courses_teachers_path %>
