<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @courses_teacher.course %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @courses_teacher.teacher %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @courses_teacher.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @courses_teacher.end_date %>
</p>

<%= link_to 'Edit', edit_courses_teacher_path(@courses_teacher) %> |
<%= link_to 'Back', courses_teachers_path %>
