<p id="notice"><%= notice %></p>

<h1>Avatar Requirements</h1>

<table>
  <thead>
    <tr>
      <th>Id avatar</th>
      <th>Id learnable</th>
      <th>Min level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @avatar_requirements.each do |avatar_requirement| %>
      <tr>
        <td><%= avatar_requirement.id_avatar %></td>
        <td><%= avatar_requirement.id_learnable %></td>
        <td><%= avatar_requirement.min_level %></td>
        <td><%= link_to 'Show', avatar_requirement %></td>
        <td><%= link_to 'Edit', edit_avatar_requirement_path(avatar_requirement) %></td>
        <td><%= link_to 'Destroy', avatar_requirement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Avatar Requirement', new_avatar_requirement_path %>
