<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar:</strong>
  <%= @avatar_requirement.avatar %>
</p>

<p>
  <strong>Learnable:</strong>
  <%= @avatar_requirement.learnable %>
</p>

<p>
  <strong>Min level:</strong>
  <%= @avatar_requirement.min_level %>
</p>

<%= link_to 'Edit', edit_avatar_requirement_path(@avatar_requirement) %> |
<%= link_to 'Back', avatar_requirements_path %>
