<p id="notice"><%= notice %></p>

<h1>Levels Points</h1>

<table>
  <thead>
    <tr>
      <th>Level</th>
      <th>Id learnable</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @levels_points.each do |levels_point| %>
      <tr>
        <td><%= levels_point.level %></td>
        <td><%= levels_point.id_learnable %></td>
        <td><%= levels_point.points %></td>
        <td><%= link_to 'Show', levels_point %></td>
        <td><%= link_to 'Edit', edit_levels_point_path(levels_point) %></td>
        <td><%= link_to 'Destroy', levels_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Levels Point', new_levels_point_path %>
